# Ignorar rastros de git y configuraciones de editores
.git
.github
.vscode

# Ignorar archivos temporales de empaquetado o reportes
*.out
*.test
*.exe
dist/
bin/

# Evitar que se cuelen carpetas temporales del linter o del host
temp-linter/
vendor/